.body {
  font-family: Arial, sans-serif;
  background-color: #add8e6; /* Light blue background */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/*.image-container {
  /* Add styles for the image container here 
} */

.button-container {
  text-align: center;
}

.login-button {
  display: inline-block;
  padding: 30px 60px;
  background-color: #9ebbb4; 
  color: rgb(255, 255, 255);
  font-size: 24px;
  text-decoration: none;
  border-radius: 20px;
  border: 2px solid #e3dcdc;
  transition: background-color 0.3s ease-in-out;
}

.login-button .arrow {
  margin-left: 2px;
}

.login-button:hover {
  background-color: #404746; /* Darker red on hover */
}


/************************* LOGIN SECTION ***************/
.body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Light gray background */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.login-container {
  max-width: 300px;
  padding: 20px;
  border: 1px solid #3498db; /* Border color */
  border-radius: 10px;
  background-color: #fff; /* White background */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.login-container h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333; /* Text color */
}
.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.login-container button {
  width: 100%;
  padding: 12px;
  background-color: #3498db; /* Button color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.login-container button:hover {
  background-color: #2980b9; /* Darker button color on hover */
}